.info td{
    text-align: center;
    vertical-align: top;
}

td.email {
    text-align: left;
}

.inpadm {
    display: inline-block;
    width: 300px;
    margin: 0 0 0 30px;
}

.width35, .width70 {
    float: left;
    display: inline-block;
    width: 100%;
}
.width35 {
    width: 35%;
}
.width70 {
    width: 70%;
}

.buttonadm {
    background-color: green;
    color: white;
    border: 2px solid black;
    padding: 10px 20px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    margin: 40px 30px;
}
