.feed-header-section, .feed-image-section {
    margin-bottom: 16px;
}

.feed-image-section {

}

.feed-basic-section {
    margin-bottom: 24px;
}

.feed-additional-section, .feed-note-section {
    margin-top: 24px;
    margin-bottom: 32px;
}

/*.feed-note-section {*/
/*margin-top: 24px;*/
/*margin-bottom: 32px;*/
/*}*/

.feed-label {
    font-size: 14px;
    color: #5c6264;
}

.photoFeed {
    width: 100%;
}

.feed-spec-section {
    float: left;
    width: 48%;
    min-width: 308px;
}

.feed-spec-label, .feed-spec-row-label, .feed-tank-label {
    color: #2b2b2b;
    font-weight: 600;
    line-height: 24px;
    font-size: 16px;
}

.feed-spec-label, .feed-tank-label {
    float: left;
    width: 49%;
    min-width: 155px;
}

.feed-tank-label {
    width: 24%;
}

.feed-spec-row-label {
    width: 100%;
    margin-bottom: 16px;
}

.feed-tank-sub-label {
    color: #5c6264;
    line-height: 24px;
    font-size: 16px;
}

.feed-tank-elem {
    padding-top: 24px;
    padding-bottom: 24px;
}

.feed-spec-text, .feed-tank-spec-text {
    float: left;
}

.feed-tank-spec-text {
    width: 29%;
}

.feed-link a, .feed-link a:visited {
    font-size: 12px;
    font-weight: 600;
    letter-spacing: 1px;
    text-align: center;
    color: #a1a4a5;
    text-decoration: none;
}

.feed-link a:hover {
    color: #11c7dd;
}

.feed-link a:active {
    text-decoration: underline;
    color: #0d95b5;
}

.feed-button-container {
    float: right;
}

.feed-button {
    float: left;
    margin-right: 16px;
}

.feed-margin {
    margin-right: 4px;
}

.userpicFeed {
    max-height: 90px;
    max-width: 90px;
}

.logbookFeed-elem-right, .logbookFeed-elem-left {
    float: left;
}

.logbookFeed-elem-right {
    width: 70%;
    padding-left: 10px;
}

.logbookFeed-elem-right p {
    display: block; /* or inline-block, at least its a block element */
    width: 100%; /* or width is certain by parent element */
    height: auto; /* height cannot be defined */
    white-space: normal; /* Firefox 1.0-2.0 */
    font-size: 1px;
}

.logbookFeed-elem-right-line {
    padding-bottom: 10px;
    font-size: 20px;
}

.diveScoreFeed {
    width: 16px;
    margin-left: 2px;
}

.dialog-triangle {
    width: 0;
    height: 0;
    border-left: 7px solid transparent;
    border-right: 7px solid transparent;

    border-bottom: 7px solid rgba(0, 102, 145, 0.55);

    margin-left: 30px;
}

.content-left-feed, .white-elem-left-feed {
    width: 460px;
    float: left;
    margin-top: 20px;
    margin-bottom: 20px;
    margin-right: 10%;
}

.white-elem-left-feed {
    background: #f8f8f8;
    margin-right: 0;
}

.panelFeed {
    margin-top: -10px;
    margin-bottom: 10px;
    padding: 10px;
    border-radius: 6px;
    height: auto;
    background: rgba(0, 102, 145, 0.55);
}

.panelFeed-full {
    border-radius: 6px;
    height: auto;
    background: rgba(0, 102, 145, 0.55);
}

.feed-align {
    padding-left: 20px;
    padding-right: 20px;
}

.panelFeed-row {
    margin-top: 25px;
    width: 100%;
}

.panelFeed-href,
.panelFeed-label {
    font-size: 16px;
}

.panelFeed-expand {
    padding-left: 5%;
    font-size: 20px;
}

.panelFeed-text {
    font-size: 20px;
    color: #f8f8f8;
}

.panelFeed-label {
    color: #99b5c3;
}

.panelFeed p {
    display: block; /* or inline-block, at least its a block element */
    width: 100%; /* or width is certain by parent element */
    height: auto; /* height cannot be defined */
    white-space: normal; /* Firefox 1.0-2.0 */
    font-size: 1px;
}

.menuFeed {
    position: relative;
    float: right;
}

.menuFeedContent {
    right: 0;
    position: absolute;
}

.menuFeedContent ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    width: 70px;
    background-color: #e8e8e8;
    z-index: 597;
}

.menuFeedContent ul li {
    list-style-type: none;
}

.menuFeedContent ul li a {
    display: block;
    color: #666666;
    padding: 8px 16px 8px 16px;
    text-decoration: none;
    font-size: 12px;
}

.menuFeedContent ul li a:hover {
    background-color: #d5d5d5;
}

.menuFeedContent ul li a {
    border: 1px solid #d5d5d5;
    border-top: 0 none;
}

.menuFeedContent ul li:first-child > a {
    border-top: 1px solid #d5d5d5;
}