.horizontalRow {
    overflow: auto;
    width: 100%;
}

.horizontalRow > * {
    float: left;
}

.formWrapper {
    float: left;
    padding-top: 40px;
    padding-bottom: 40px;

    border-radius: 5px;
    background-color: #ffffff;
    box-shadow: 2px 10px 20px 0 rgba(20, 57, 62, 0.07);
}

.formImage {
    float: left;
    padding-top: 40px;
}

.reg-tab {
    font-size: 22px;
    font-weight: bold;
    line-height: 2.09;
    color: #cbd0d1;
}

.reg-tab-selected {
    font-size: 32px;
    font-weight: bold;
    line-height: 2.53;
    color: #2b2b2b;
}

#regTabLogin {
    margin-right: 24px;
}

.diver-to-choose-list {
    margin-top: 8px;
    margin-bottom: 40px;
}

.diver-to-choose-list-item {
    padding-top: 8px;
    padding-bottom: 8px;
    overflow: auto;
}

.diver-to-choose-list-item-chosen {
    background-color: #a1a4a5;
}

.diver-to-choose-list-item:hover {
    background-color: #cbd0d1;
}

.choose-diver-text {
    float: left;
}

.choose-diver-name {
    font-size: 14px;
    font-weight: 700;
}

.choose-diver-card-number {
    font-size: 12px;
}

.choose-diver-image {
    float: right;
}

.choose-diver-image img {
    height: 56px;
}

.form-logo {
    margin-bottom: 25px;
    margin-left: 25%;
}

.form-description {
    font-size: 16px;
    color: #5c6264;
    line-height: 1.5;
    margin-top: 8px;
    margin-bottom: 24px;
}

.form-row,
.dialog-form-row {
    padding-bottom: 24px;
    position: relative;
}

.dialog-form-row a {
    color: #04c8ff;
    padding-left: 5px;
    font-size: 26px;
    text-decoration: underline;
}

.form-row input,
.form-row textarea,
.dialog-form-row input,
.select2-container--bootstrap .select2-selection {
    min-width: 257px;
    color: #5c6264;
    font-size: 14px;
    text-align: left;
    /*font-weight: 300;*/
    padding-top: 11px;
    padding-bottom: 11px;
    padding-left: 16px !important;
    border-radius: 5px !important;
    border: solid 1px;
    border-color: #cbd0d1;
    box-sizing: border-box;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
}

.search-row input {
    width: 100%;
}

.error-input-ico, .date-form-calendar-input-ico {
    top: 9px;
    left: 225px;
}

.select2-container--bootstrap {
    min-width: 257px;
}

.select2-container--bootstrap .select2-selection__rendered,
.select2-container--bootstrap .select2-selection--multiple,
.select2-container--bootstrap .select2-selection--single,
.select2-container--bootstrap .select2-selection--single .select2-selection__rendered {
    height: 100%;
    border-color: #cbd0d1;
    font-size: 14px;
    padding-top: 11px;
    padding-bottom: 11px;
    /*font-weight: 300;*/
    color: #5c6264;
    line-height: normal !important;
}

.select2-container--bootstrap .select2-selection__rendered {
    padding: 0 !important;
}

.select2-container--bootstrap .select2-selection__arrow {
    right: 16px !important;
}

.select2-container--bootstrap .select2-selection__rendered:focus {
    color: #2b2b2b !important;
    border-color: #11c7dd !important;
    -webkit-box-shadow: none;
    box-shadow: none;
    outline: none !important;
}

.select2-container--bootstrap .select2-selection--multiple:focus {
    color: #2b2b2b !important;
    border-color: #11c7dd !important;
    -webkit-box-shadow: none;
    box-shadow: none;
    outline: none !important;
}

.select2-container--bootstrap .select2-selection--single:focus {
    color: #2b2b2b !important;
    border-color: #11c7dd;
    -webkit-box-shadow: none;
    box-shadow: none;
    outline: none !important;
}

.select2-container--bootstrap.select2-container--focus .select2-selection,
.select2-container--bootstrap.select2-container--open .select2-selection,
.select2-container--bootstrap .select2-dropdown {
    border-color: #11c7dd;
    box-shadow: none !important;
}

.select2-container--bootstrap .select2-selection__placeholder {
    font-size: 14px;
    /*font-weight: 300;*/
    color: #cbd0d1 !important;
    padding: 0 !important;
    line-height: normal !important;
}

.select2-container--bootstrap .select2-selection__placeholder:focus {
    opacity: 0;
    transition: opacity 0.3s ease;
    text-overflow: ellipsis;
    border-color: #11c7dd !important;
}

.select2-container--bootstrap .select2-results__option {
    /*font-weight: 300;*/
    color: #cbd0d1 !important;
}

.select2-container--bootstrap .select2-results__option--highlighted[aria-selected] {
    /*font-weight: 300;*/
    color: #5c6264 !important;
    background-color: #f7f9fa !important;
}

.select2-container--bootstrap.select2-container--disabled .select2-selection {
    border-color: #FFFFFF;
}

.select2-container--bootstrap.select2-container--disabled .select2-selection,
.select2-container--bootstrap.select2-container--disabled .select2-selection--multiple .select2-selection__choice {
    color: #cbd0d1;
    background-color: #f7f9fa;
}

.select2-container--bootstrap.select2-container--disabled .select2-selection .select2-selection__rendered {
    color: #cbd0d1;
}

.form-row input:focus, .form-row textarea:focus {
    border-color: #11c7dd;
    color: #2b2b2b;
    outline: none;
    -webkit-box-shadow: none;
    box-shadow: none;
}

.form-row input:disabled, .form-row textarea:disabled{
    color: #cbd0d1;
    background-color: #f7f9fa;
    border-color: #FFFFFF;
}

.form-row input::-webkit-input-placeholder, .form-row textarea::-webkit-input-placeholder{
    opacity: 1;
    transition: opacity 0.3s ease;
    text-overflow: ellipsis;
    color: #cbd0d1
}

.form-row input::-moz-placeholder, .form-row textarea::-moz-placeholder {
    opacity: 1;
    transition: opacity 0.3s ease;
    text-overflow: ellipsis;
    color: #cbd0d1
}

.form-row input:-moz-placeholder, .form-row textarea:-moz-placeholder {
    opacity: 1;
    transition: opacity 0.3s ease;
    text-overflow: ellipsis;
    color: #cbd0d1
}

.form-row input:-ms-input-placeholder, .form-row textarea:-ms-input-placeholder {
    opacity: 1;
    transition: opacity 0.3s ease;
    text-overflow: ellipsis;
    color: #cbd0d1
}

.form-row input:focus::-webkit-input-placeholder, .form-row textarea:focus::-webkit-input-placeholder {
    opacity: 0;
    transition: opacity 0.3s ease;
    text-overflow: ellipsis;
    border: solid 1px #11c7dd;
}

.form-row input:focus::-moz-placeholder, .form-row textarea:focus::-moz-placeholder {
    opacity: 0;
    transition: opacity 0.3s ease;
    text-overflow: ellipsis;
    border: solid 1px #11c7dd;
}

.form-row input:focus:-moz-placeholder, .form-row textarea:focus:-moz-placeholder {
    opacity: 0;
    transition: opacity 0.3s ease;
    text-overflow: ellipsis;
    border: solid 1px #11c7dd;
}

.form-row input:focus:-ms-input-placeholder, .form-row textarea:focus:-ms-input-placeholder {
    opacity: 0;
    transition: opacity 0.3s ease;
    text-overflow: ellipsis;
    border: solid 1px #11c7dd;
}

.form-row img {
    height: 24px;
    position: absolute;
}

.form-checkbox-label {
    float: left;
    font-size: 14px;
    color: #a1a4a5;
    line-height: 1.57;
}

.form-absolute {
    position: absolute;
}

.form-item-right {
    float: right;
}

.form-item-left {
    float: left;
}

.form-payment-licence, .form-payment-total {
    font-size: 16px;
    font-weight: bold;
    color: #2b2b2b;
}

.form-payment-total {
    text-align: right;
    margin-bottom: 24px;
}

.form-payment-price {
    color: #2b2b2b;
    font-size: 16px;
    float: right;
}

.form-feature-description {
    float: left;
}

.ui-dialog-titlebar-close {
    visibility: hidden;
}

.ui-button:focus {
    outline: none !important;
}

.capcha-block {
    width: 100%;
    margin-bottom: 15px;
}

.capcha-block div {
    margin: 0 auto;
}