.landingPageTextPart {
    margin-left: 9%;
    margin-right: 9%;
    float: left;
}

.landingPageFirstScreen {
    overflow: hidden;
}

.landingPageHeader {
    font-weight: 700;
    font-size: 48px;
    color: #ffffff;
}

.landingPageFrontText, .landingPageText {
    font-weight: 600;
    font-size: 12px;
}

.landingPageText {
    font-weight: 400;
    color: #167b95;
}

.landingPageInterfaceExamples {
    float: left;
}

#smallExampleBackgroundWrapper {
    overflow: hidden;
    position: absolute;
    left: 70px;
    top: 250px;
}

.secondScreen {
    padding-left: 9%;
    padding-top: 5%;
}

.secondScreenHeader {
    margin-bottom: 0.6%;
    color: #3ec9da;
    font-size: 32px;
    font-weight: 700;
}

#diveSearchForm {
    margin-bottom: 5%;
}

.form-row input,
.select2-container--bootstrap .select2-selection__rendered,
.select2-container--bootstrap .select2-selection--multiple,
.select2-container--bootstrap .select2-selection--single,
.select2-container--bootstrap .select2-selection__placeholder,
.positive-button {
    font-size: 18px;
}

.form-row input,
.dialog-form-row input,
.select2-container--bootstrap .select2-selection {
    padding-top: 16px;
    padding-bottom: 16px;
}

.positive-button {
    padding: 16px 24px 16px 24px;
}

#insurance {
    overflow: auto;
}

#insuranceIllustration {
    float: left;
    width: 50%;
}

#insuranceTextPart {
    padding-left: 7%;
    padding-right: 12%;
    padding-top: 5%;
    background: #dcf1f3;
    background-repeat: repeat-x;
    float: left;
    width: 31%;
}

#insuranceLink a {
    color: #167b95;
    text-decoration: none;
}

#insuranceLink a img {
    vertical-align: middle;
    margin-left: 8px;
    width: 28px;
    height: 8px;
}

#insuranceLink a:hover {
    color: #11c7dd;
}

.secondaryHeader {
    color: #167b95;
    font-weight: 700;
}

.secondaryText {
    color: #1a2d32;
    line-height: 1.67;
    /*font-weight: 300;*/
}

#features {
    overflow: auto;
}

.feature {
    float: left;
}

.featureDescription {
    padding: 4% 2.8% 3.6% 2.5%;
}

.featureHeader {
    font-size: 18px;
    color: #ffffff;
}

.featureText {
    color: #ffffff;
    line-height: 1.67;
    /*font-weight: 200;*/
}

#certificatesDescription {
    background-color: #62c7d4;
}

#buddiesDescription {
    background-color: #21acbe;
}

#spotsDescription {
    background-color: #167b95;
}

#memoriesDescription {
    background-color: #074e68;
}

#fourthScreen {
    background: #fef6f3;
    background-repeat: repeat-x;
    overflow: auto;
    padding: 0 0 1% 8%;
}

#submissionDescription {
    float: left;
    margin-top: 13%;
    margin-right: 3%;
    margin-left: 12%;
}

#submissionIllustration {
    float: left;
}

#footer {
    overflow: auto;
}

.footer-large-text, .footer-text {
    color: #ffffff;
}

.footer-item-first {
    margin-left: 16px;
}

.footer-item {
    margin-right: 16px;
}

.footer-item-left {
    float: left;
}

.footer-item-right {
    float: right;
}

.footer-link {
    margin-top: 25px;
}

.footer-button {
    margin-top: 15px;
    margin-right: 16px;
    margin-left: 0.11%;
}

.footer-text {
    margin-top: 25px;
    margin-bottom: 16px;
    margin-right: 16px;
}

.footer-link a, .footer-link a:visited {
    font-size: 14px;
    font-weight: 600;
    letter-spacing: 1px;
    text-align: center;
    color: #ffffff;
    text-decoration: none;
}

.footer-link a:hover {
    color: #a1a4a5;
}

.footer-link a:active {
    text-decoration: underline;
}