.logbookEntry {
    background: #f8f8f8;
    height: auto;
    width: 460px;
    margin: 0 auto;
    border-radius: 6px;
    position: fixed;
    top: 98px;
    left: 50%;
    transform: translate(-50%, 0);
    z-index: 800;
    -webkit-border-radius: 6px;
    -moz-border-radius: 6px;
    -o-border-radius: 6px;
}

.createEntryHeader {
    margin-top: 20px;
    position: relative;
    left: 50%;
    transform: translate(-50%, 0%);
}

.logbookHeader {
    width: 500px;
    margin-top: 20px;
}

.createEntryHeaderTitle {
    font-size: 28px;
    text-align: center;
    padding-left: 16px;
    padding-right: 16px;
}

.white-form, .white-form-right, .white-form-left, .white-elem-left {
    margin-top: 20px;
    position: relative;
    left: 50%;
    transform: translate(-50%, 0%);
    width: 460px;
    background: #f8f8f8;
}

.white-elem {
    background: #f8f8f8;
}

.white-form-right, .white-form-left, .white-elem-left {
    float: left;
    left: 10%;
    transform: translate(0%, 0%);
}

.white-form-right {
    float: right;
}

.white-form-left {
    margin-right: 10%;
}

.white-elem-left {
    margin-top: 50px;
}

.logbookParent {
    min-width: 500px;
    margin-left: 10%;
    margin-right: 10%;
}

.white-elem-label {
    color: #aaaaaa;
    font-size: 20px;
    width: 100%;
}

.white-elem-text {
    color: #666666;
    font-size: 20px;
    width: 100%;
}

.white-form-title-left {
    font-size: 22px;
    float: left;
}

.white-form-title-right {
    float: right;
}

.white-form-label, .white-form-checkbox-label {
    color: #cccccc;
    width: 100%;
    font-size: 16px;
}

.white-form-checkbox-label {
    color: #666666;
    font-size: 20px;
}

.white-form-text {
    color: #666666;
    margin-right: 6px;
    font-size: 24px;
}

.white-form-href {
    font-size: 20px;
    color: #04c8ff;
    padding-left: 5px;
    text-decoration: underline;
}

.white-form-textarea {
    width: 100%;
    background-color: rgb(234, 234, 234);
    border: 0;
    font-size: 16px;
    line-height: normal;
}

.white-form-top-row {
    margin-top: 15px;
}

.white-form-row {
    margin-bottom: 15px;
    padding-left: 5%;
    position: relative;
    width: 90%;
}

.white-form-row-date {
    width: 60%;
    float: left;
}

.white-form-row-time {
    width: 35%;
    float: right;
}

.white-form-row-half, .white-form-row-half-right {
    width: 48%;
    float: left;
}

.white-form-row-half-right {
    float: right;
}

.white-form-row-third, .white-form-row-third-right {
    width: 32%;
    padding-right: 6px;
    float: left;
}

.white-form-row-third-right {
    padding-right: 0;
    float: right;
}

.white-form-row-input,
.white-form-date-input,
.white-form-time-input {
    width: 100%;
    height: 100% !important;
    padding-top: 18px;
    padding-bottom: 10px;
    padding-left: 10px;
    border-radius: 0 !important;
    box-sizing: border-box;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    background-color: rgb(234, 234, 234)
}

.white-form-date-input {
    margin-right: 3%;
    padding-left: 42px;
}

.white-form-row-img {
    height: 20px;
    position: absolute;
}

.calendar-input-ico-logbook {
    content: url("/i/calendar_ico.png");
    position: absolute;
    top: -4px;
    left: 8px;
    height: auto;
}

.calendar-container {
    display: inline;
    position: relative;
}

.form-row-logbook,
.dialog-form-row {
    margin-bottom: 15px;
    position: relative;
}

.dialog-form-row a {
    color: #04c8ff;
    padding-left: 5px;
    font-size: 26px;
    text-decoration: underline;
}

.form-row-logbook input,
.dialog-form-row input,
.form-row-logbook .select2-selection {
    width: 99%;
    height: 100% !important;
    padding-top: 12px;
    padding-bottom: 12px;
    padding-left: 10px;
    background-color: rgba(234, 234, 234, 0.8) !important;
}

.form-row-logbook .select2-selection__rendered,
.form-row-logbook .select2-selection__placeholder {
    text-align: left;
    font-size: 16px;
    color: #53788b !important;
    padding: 0 !important;
    line-height: normal !important;
}

.form-row-logbook .select2-selection__rendered {
    color: black !important;
}

.form-row-logbook .select2-selection__arrow {
    background: url("/i/arrow_gray_ico.png") no-repeat center;
    top: 10px !important;
    right: 14px !important;
}

.form-row-logbook .country-input-ico {
    content: url("/i/country_ico.png");
    top: 14px;
    left: 14px;
    margin-right: 10px;
}

.form-row-logbook-half input {
    padding-left: 10px;
    background-color: rgba(235, 243, 245, 0.8) !important;
    display: inline-block;
    width: 39%;
    height: 100% !important;
    padding-top: 18px;
    padding-bottom: 10px;
    border-radius: 0 !important;
    box-sizing: border-box;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
}

.calendar-container input{
    padding-left: 40px;
}

.form-row-logbook-half {
    display: inline;
}

.form-row-logbook-half label {
    color: #99b5c3;
    padding-right: 2%;
}

.form-row-logbook-half-label2 {
    padding-left: 2%;
}

.form-row-logbook input::-webkit-input-placeholder {
    opacity: 1;
    transition: opacity 0.3s ease;
    text-overflow: ellipsis;
    color: #53788b;
}

.form-row-logbook input::-moz-placeholder {
    opacity: 1;
    transition: opacity 0.3s ease;
    text-overflow: ellipsis;
    color: #53788b;
}

.form-row-logbook input:-moz-placeholder {
    opacity: 1;
    transition: opacity 0.3s ease;
    text-overflow: ellipsis;
    color: #53788b;
}

.form-row-logbook input:-ms-input-placeholder {
    opacity: 1;
    transition: opacity 0.3s ease;
    text-overflow: ellipsis;
    color: #53788b;
}

.form-row-logbook input:focus::-webkit-input-placeholder {
    opacity: 0;
    transition: opacity 0.3s ease;
    text-overflow: ellipsis;
    color: #53788b;
}

.form-row-logbook input:focus::-moz-placeholder {
    opacity: 0;
    transition: opacity 0.3s ease;
    text-overflow: ellipsis;
    color: #53788b;
}

.form-row-logbook input:focus:-moz-placeholder {
    opacity: 0;
    transition: opacity 0.3s ease;
    text-overflow: ellipsis;
    color: #53788b;
}

.form-row-logbook input:focus:-ms-input-placeholder {
    opacity: 0;
    transition: opacity 0.3s ease;
    text-overflow: ellipsis;
    color: #53788b;
}

.search-form-logbook {
    margin: 0 0 25px 0;
    padding: 20px;
    background-color: rgba(0, 102, 145, 0.55);
    border-radius: 6px;
    display: inline-block;
    font-size: 20px;
    color: #fefefe;
    line-height: 150%;
}
.search-friend-form-logbook {
    margin-bottom: 10px;
    padding: 20px;
    border-radius: 6px;
    background: rgba(0, 102, 145, 0.55);
    height: auto;
    width: 425px;
}

.search-friend-form-logbook input {
    padding-left: 10px;
    background-color: rgba(235, 243, 245, 0.8) !important;
    display: inline-block;
    width: 100%;
    height: 100% !important;
    padding-top: 18px;
    padding-bottom: 10px;
    border-radius: 0 !important;
    box-sizing: border-box;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
}