.page404-text {
    font-size: 32px;
    line-height: 0.75;
    text-align: left;
    color: #ffffff;
}

.page404 {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -ms-flex-direction: column;
    flex-direction: column;
    height: 100vh;
    width: 100%;
    margin-top: 0;
    background-position: center center;
    background-size: cover
}
/*@media (min-width: 2800px) and (min-aspect-ratio: 10/9) {*/
    /*.page404 {*/
        /*background-image: url(/i/404_land_2888.png)*/
    /*}*/
/*}*/
/*@media (min-width: 2560px) and (min-aspect-ratio: 10/9) {*/
    /*.page404 {*/
        /*background-image: url(/i/404_land_2560.png)*/
    /*}*/
/*}*/
/*@media (min-width: 1680px) and (min-aspect-ratio: 10/9) {*/
    /*.page404 {*/
        /*background-image: url(/i/404_land_1680.png)*/
    /*}*/
/*}*/
/*@media (min-width: 1440px) and (min-aspect-ratio: 10/9) {*/
    /*.page404 {*/
        /*background-image: url(/i/404_land_1440.png)*/
    /*}*/
/*}*/
/*@media (min-width: 1280px) and (min-aspect-ratio: 10/9) {*/
    /*.page404 {*/
        /*background-image: url(/i/404_land_1280.png)*/
    /*}*/
/*}*/
/*@media (min-width: 1024px) and (min-aspect-ratio: 10/9) {*/
    /*.page404 {*/
        /*background-image: url(/i/404_land_1024.png)*/
    /*}*/
/*}*/
/*@media (min-width: 962px) and (min-aspect-ratio: 10/9) {*/
    /*.page404 {*/
        /*background-image: url(/i/404_land_962.png)*/
    /*}*/
/*}*/
/*@media (min-width: 640px) and (min-aspect-ratio: 10/9) {*/
    /*.page404 {*/
        /*background-image: url(/i/404_land_640.png)*/
        /*!**/
        /*<source srcset="/i/404_land_640.png 1x, /i/404_land_1280.png 2x, /i/404_land_1920.png 3x, /i/404_land_2560.png 4x"*/
/*media="(min-width: 640px) and (min-aspect-ratio: 10/9)">*/
        /**!*/
    /*}*/
/*}*/
/*@media (min-width: 480px) and (min-aspect-ratio: 10/9) {*/
    /*.page404 {*/
        /*background-image: url(/i/404_land_480.png)*/
        /*!**/
        /*<source srcset="/i/404_land_480.png 1x, /i/404_land_962.png 2x, /i/404_land_1440.png 3x, /i/404_land_1920.png 4x"*/
/*media="(min-aspect-ratio: 10/9)">*/
        /**!*/
    /*}*/
/*}*/

/*<source srcset="/i/404_tab_portrait_1024.png"*/
/*media="(min-width: 1024px) and (min-aspect-ratio: 3/4)">*/
/*<source srcset="/i/404_tab_portrait_834.png" media="(min-width: 834px) and (min-aspect-ratio: 3/4)">*/
/*<source srcset="/i/404_tab_portrait_768.png" media="(min-width: 768px) and (min-aspect-ratio: 3/4)">*/

/*<source srcset="/i/404_portrait_800.png" media="(min-width: 800px) and (min-aspect-ratio: 2/3)">*/
/*<source srcset="/i/404_portrait_516.png" media="(min-width: 516px) and (min-aspect-ratio: 2/3)">*/
/*<source srcset="/i/404_portrait_320.png" media="(min-width: 320px) and (min-aspect-ratio: 2/3)">*/

/*<source srcset="/i/404_long_portrait_1080.png" media="(min-width: 1080px)">*/
/*<source srcset="/i/404_long_portrait_720.png" media="(min-width: 720px)">*/
/*<source srcset="/i/404_long_portrait_601.png" media="(min-width: 601px)">*/
/*<source srcset="/i/404_long_portrait_540.png" media="(min-width: 540px)">*/
/*<source srcset="/i/404_long_portrait_480.png" media="(min-width: 480px)">*/
/*<source srcset="/i/404_long_portrait_414.png" media="(min-width: 414px)">*/
/*<source srcset="/i/404_long_portrait_375.png" media="(min-width: 375px)">*/
/*<source srcset="/i/404_long_portrait_320.png" media="(min-width: 320px)">*/

