/*source-sans-pro-200 - cyrillic-ext_greek_greek-ext_latin_cyrillic_latin-ext */
/*@font-face {*/
/*font-family: 'Source Sans Pro';*/
/*font-style: normal;*/
/*font-weight: 200;*/
/*src: url('/fonts/source-sans-pro-v11-cyrillic-ext_greek_greek-ext_latin_cyrillic_latin-ext-200.eot'); !* IE9 Compat Modes *!*/
/*src: local('Source Sans Pro ExtraLight'), local('SourceSansPro-ExtraLight'),*/
/*url('/fonts/source-sans-pro-v11-cyrillic-ext_greek_greek-ext_latin_cyrillic_latin-ext-200.eot?#iefix') format('embedded-opentype'), !* IE6-IE8 *! url('/fonts/source-sans-pro-v11-cyrillic-ext_greek_greek-ext_latin_cyrillic_latin-ext-200.woff2') format('woff2'), !* Super Modern Browsers *! url('/fonts/source-sans-pro-v11-cyrillic-ext_greek_greek-ext_latin_cyrillic_latin-ext-200.woff') format('woff'), !* Modern Browsers *! url('/fonts/source-sans-pro-v11-cyrillic-ext_greek_greek-ext_latin_cyrillic_latin-ext-200.ttf') format('truetype'), !* Safari, Android, iOS *! url('/fonts/source-sans-pro-v11-cyrillic-ext_greek_greek-ext_latin_cyrillic_latin-ext-200.svg#SourceSansPro') format('svg'); !* Legacy iOS *!*/
/*}*/

/*!* source-sans-pro-200italic - cyrillic-ext_greek_greek-ext_latin_cyrillic_latin-ext *!*/
/*@font-face {*/
/*font-family: 'Source Sans Pro';*/
/*font-style: italic;*/
/*font-weight: 200;*/
/*src: url('/fonts/source-sans-pro-v11-cyrillic-ext_greek_greek-ext_latin_cyrillic_latin-ext-200italic.eot'); !* IE9 Compat Modes *!*/
/*src: local('Source Sans Pro ExtraLight Italic'), local('SourceSansPro-ExtraLightItalic'),*/
/*url('/fonts/source-sans-pro-v11-cyrillic-ext_greek_greek-ext_latin_cyrillic_latin-ext-200italic.eot?#iefix') format('embedded-opentype'), !* IE6-IE8 *! url('/fonts/source-sans-pro-v11-cyrillic-ext_greek_greek-ext_latin_cyrillic_latin-ext-200italic.woff2') format('woff2'), !* Super Modern Browsers *! url('/fonts/source-sans-pro-v11-cyrillic-ext_greek_greek-ext_latin_cyrillic_latin-ext-200italic.woff') format('woff'), !* Modern Browsers *! url('/fonts/source-sans-pro-v11-cyrillic-ext_greek_greek-ext_latin_cyrillic_latin-ext-200italic.ttf') format('truetype'), !* Safari, Android, iOS *! url('/fonts/source-sans-pro-v11-cyrillic-ext_greek_greek-ext_latin_cyrillic_latin-ext-200italic.svg#SourceSansPro') format('svg'); !* Legacy iOS *!*/
/*}*/

/*!* source-sans-pro-300 - cyrillic-ext_greek_greek-ext_latin_cyrillic_latin-ext *!*/
/*@font-face {*/
/*font-family: 'Source Sans Pro';*/
/*font-style: normal;*/
/*font-weight: 300;*/
/*src: url('/fonts/source-sans-pro-v11-cyrillic-ext_greek_greek-ext_latin_cyrillic_latin-ext-300.eot'); !* IE9 Compat Modes *!*/
/*src: local('Source Sans Pro Light'), local('SourceSansPro-Light'),*/
/*url('/fonts/source-sans-pro-v11-cyrillic-ext_greek_greek-ext_latin_cyrillic_latin-ext-300.eot?#iefix') format('embedded-opentype'), !* IE6-IE8 *! url('/fonts/source-sans-pro-v11-cyrillic-ext_greek_greek-ext_latin_cyrillic_latin-ext-300.woff2') format('woff2'), !* Super Modern Browsers *! url('/fonts/source-sans-pro-v11-cyrillic-ext_greek_greek-ext_latin_cyrillic_latin-ext-300.woff') format('woff'), !* Modern Browsers *! url('/fonts/source-sans-pro-v11-cyrillic-ext_greek_greek-ext_latin_cyrillic_latin-ext-300.ttf') format('truetype'), !* Safari, Android, iOS *! url('/fonts/source-sans-pro-v11-cyrillic-ext_greek_greek-ext_latin_cyrillic_latin-ext-300.svg#SourceSansPro') format('svg'); !* Legacy iOS *!*/
/*}*/

/*!* source-sans-pro-300italic - cyrillic-ext_greek_greek-ext_latin_cyrillic_latin-ext *!*/
/*@font-face {*/
/*font-family: 'Source Sans Pro';*/
/*font-style: italic;*/
/*font-weight: 300;*/
/*src: url('/fonts/source-sans-pro-v11-cyrillic-ext_greek_greek-ext_latin_cyrillic_latin-ext-300italic.eot'); !* IE9 Compat Modes *!*/
/*src: local('Source Sans Pro Light Italic'), local('SourceSansPro-LightItalic'),*/
/*url('/fonts/source-sans-pro-v11-cyrillic-ext_greek_greek-ext_latin_cyrillic_latin-ext-300italic.eot?#iefix') format('embedded-opentype'), !* IE6-IE8 *! url('/fonts/source-sans-pro-v11-cyrillic-ext_greek_greek-ext_latin_cyrillic_latin-ext-300italic.woff2') format('woff2'), !* Super Modern Browsers *! url('/fonts/source-sans-pro-v11-cyrillic-ext_greek_greek-ext_latin_cyrillic_latin-ext-300italic.woff') format('woff'), !* Modern Browsers *! url('/fonts/source-sans-pro-v11-cyrillic-ext_greek_greek-ext_latin_cyrillic_latin-ext-300italic.ttf') format('truetype'), !* Safari, Android, iOS *! url('/fonts/source-sans-pro-v11-cyrillic-ext_greek_greek-ext_latin_cyrillic_latin-ext-300italic.svg#SourceSansPro') format('svg'); !* Legacy iOS *!*/
/*}*/

/* source-sans-pro-regular - cyrillic-ext_greek_greek-ext_latin_cyrillic_latin-ext */
@font-face {
    font-family: 'Source Sans Pro';
    font-style: normal;
    font-weight: 400;
    src: url('/fonts/source-sans-pro-v11-cyrillic-ext_greek_greek-ext_latin_cyrillic_latin-ext-regular.eot'); /* IE9 Compat Modes */
    src: local('Source Sans Pro Regular'), local('SourceSansPro-Regular'),
    url('/fonts/source-sans-pro-v11-cyrillic-ext_greek_greek-ext_latin_cyrillic_latin-ext-regular.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */ url('/fonts/source-sans-pro-v11-cyrillic-ext_greek_greek-ext_latin_cyrillic_latin-ext-regular.woff2') format('woff2'), /* Super Modern Browsers */ url('/fonts/source-sans-pro-v11-cyrillic-ext_greek_greek-ext_latin_cyrillic_latin-ext-regular.woff') format('woff'), /* Modern Browsers */ url('/fonts/source-sans-pro-v11-cyrillic-ext_greek_greek-ext_latin_cyrillic_latin-ext-regular.ttf') format('truetype'), /* Safari, Android, iOS */ url('/fonts/source-sans-pro-v11-cyrillic-ext_greek_greek-ext_latin_cyrillic_latin-ext-regular.svg#SourceSansPro') format('svg'); /* Legacy iOS */
}

/* source-sans-pro-italic - cyrillic-ext_greek_greek-ext_latin_cyrillic_latin-ext */
@font-face {
    font-family: 'Source Sans Pro';
    font-style: italic;
    font-weight: 400;
    src: url('/fonts/source-sans-pro-v11-cyrillic-ext_greek_greek-ext_latin_cyrillic_latin-ext-italic.eot'); /* IE9 Compat Modes */
    src: local('Source Sans Pro Italic'), local('SourceSansPro-Italic'),
    url('/fonts/source-sans-pro-v11-cyrillic-ext_greek_greek-ext_latin_cyrillic_latin-ext-italic.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */ url('/fonts/source-sans-pro-v11-cyrillic-ext_greek_greek-ext_latin_cyrillic_latin-ext-italic.woff2') format('woff2'), /* Super Modern Browsers */ url('/fonts/source-sans-pro-v11-cyrillic-ext_greek_greek-ext_latin_cyrillic_latin-ext-italic.woff') format('woff'), /* Modern Browsers */ url('/fonts/source-sans-pro-v11-cyrillic-ext_greek_greek-ext_latin_cyrillic_latin-ext-italic.ttf') format('truetype'), /* Safari, Android, iOS */ url('/fonts/source-sans-pro-v11-cyrillic-ext_greek_greek-ext_latin_cyrillic_latin-ext-italic.svg#SourceSansPro') format('svg'); /* Legacy iOS */
}

/* source-sans-pro-600 - cyrillic-ext_greek_greek-ext_latin_cyrillic_latin-ext */
@font-face {
    font-family: 'Source Sans Pro';
    font-style: normal;
    font-weight: 600;
    src: url('/fonts/source-sans-pro-v11-cyrillic-ext_greek_greek-ext_latin_cyrillic_latin-ext-600.eot'); /* IE9 Compat Modes */
    src: local('Source Sans Pro SemiBold'), local('SourceSansPro-SemiBold'),
    url('/fonts/source-sans-pro-v11-cyrillic-ext_greek_greek-ext_latin_cyrillic_latin-ext-600.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */ url('/fonts/source-sans-pro-v11-cyrillic-ext_greek_greek-ext_latin_cyrillic_latin-ext-600.woff2') format('woff2'), /* Super Modern Browsers */ url('/fonts/source-sans-pro-v11-cyrillic-ext_greek_greek-ext_latin_cyrillic_latin-ext-600.woff') format('woff'), /* Modern Browsers */ url('/fonts/source-sans-pro-v11-cyrillic-ext_greek_greek-ext_latin_cyrillic_latin-ext-600.ttf') format('truetype'), /* Safari, Android, iOS */ url('/fonts/source-sans-pro-v11-cyrillic-ext_greek_greek-ext_latin_cyrillic_latin-ext-600.svg#SourceSansPro') format('svg'); /* Legacy iOS */
}

/* source-sans-pro-600italic - cyrillic-ext_greek_greek-ext_latin_cyrillic_latin-ext */
@font-face {
    font-family: 'Source Sans Pro';
    font-style: italic;
    font-weight: 600;
    src: url('/fonts/source-sans-pro-v11-cyrillic-ext_greek_greek-ext_latin_cyrillic_latin-ext-600italic.eot'); /* IE9 Compat Modes */
    src: local('Source Sans Pro SemiBold Italic'), local('SourceSansPro-SemiBoldItalic'),
    url('/fonts/source-sans-pro-v11-cyrillic-ext_greek_greek-ext_latin_cyrillic_latin-ext-600italic.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */ url('/fonts/source-sans-pro-v11-cyrillic-ext_greek_greek-ext_latin_cyrillic_latin-ext-600italic.woff2') format('woff2'), /* Super Modern Browsers */ url('/fonts/source-sans-pro-v11-cyrillic-ext_greek_greek-ext_latin_cyrillic_latin-ext-600italic.woff') format('woff'), /* Modern Browsers */ url('/fonts/source-sans-pro-v11-cyrillic-ext_greek_greek-ext_latin_cyrillic_latin-ext-600italic.ttf') format('truetype'), /* Safari, Android, iOS */ url('/fonts/source-sans-pro-v11-cyrillic-ext_greek_greek-ext_latin_cyrillic_latin-ext-600italic.svg#SourceSansPro') format('svg'); /* Legacy iOS */
}

/* source-sans-pro-700 - cyrillic-ext_greek_greek-ext_latin_cyrillic_latin-ext */
@font-face {
    font-family: 'Source Sans Pro';
    font-style: normal;
    font-weight: 700;
    src: url('/fonts/source-sans-pro-v11-cyrillic-ext_greek_greek-ext_latin_cyrillic_latin-ext-700.eot'); /* IE9 Compat Modes */
    src: local('Source Sans Pro Bold'), local('SourceSansPro-Bold'),
    url('/fonts/source-sans-pro-v11-cyrillic-ext_greek_greek-ext_latin_cyrillic_latin-ext-700.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */ url('/fonts/source-sans-pro-v11-cyrillic-ext_greek_greek-ext_latin_cyrillic_latin-ext-700.woff2') format('woff2'), /* Super Modern Browsers */ url('/fonts/source-sans-pro-v11-cyrillic-ext_greek_greek-ext_latin_cyrillic_latin-ext-700.woff') format('woff'), /* Modern Browsers */ url('/fonts/source-sans-pro-v11-cyrillic-ext_greek_greek-ext_latin_cyrillic_latin-ext-700.ttf') format('truetype'), /* Safari, Android, iOS */ url('/fonts/source-sans-pro-v11-cyrillic-ext_greek_greek-ext_latin_cyrillic_latin-ext-700.svg#SourceSansPro') format('svg'); /* Legacy iOS */
}

/* source-sans-pro-700italic - cyrillic-ext_greek_greek-ext_latin_cyrillic_latin-ext */
@font-face {
    font-family: 'Source Sans Pro';
    font-style: italic;
    font-weight: 700;
    src: url('/fonts/source-sans-pro-v11-cyrillic-ext_greek_greek-ext_latin_cyrillic_latin-ext-700italic.eot'); /* IE9 Compat Modes */
    src: local('Source Sans Pro Bold Italic'), local('SourceSansPro-BoldItalic'),
    url('/fonts/source-sans-pro-v11-cyrillic-ext_greek_greek-ext_latin_cyrillic_latin-ext-700italic.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */ url('/fonts/source-sans-pro-v11-cyrillic-ext_greek_greek-ext_latin_cyrillic_latin-ext-700italic.woff2') format('woff2'), /* Super Modern Browsers */ url('/fonts/source-sans-pro-v11-cyrillic-ext_greek_greek-ext_latin_cyrillic_latin-ext-700italic.woff') format('woff'), /* Modern Browsers */ url('/fonts/source-sans-pro-v11-cyrillic-ext_greek_greek-ext_latin_cyrillic_latin-ext-700italic.ttf') format('truetype'), /* Safari, Android, iOS */ url('/fonts/source-sans-pro-v11-cyrillic-ext_greek_greek-ext_latin_cyrillic_latin-ext-700italic.svg#SourceSansPro') format('svg'); /* Legacy iOS */
}

/*!* source-sans-pro-900 - cyrillic-ext_greek_greek-ext_latin_cyrillic_latin-ext *!*/
/*@font-face {*/
/*font-family: 'Source Sans Pro';*/
/*font-style: normal;*/
/*font-weight: 900;*/
/*src: url('/fonts/source-sans-pro-v11-cyrillic-ext_greek_greek-ext_latin_cyrillic_latin-ext-900.eot'); !* IE9 Compat Modes *!*/
/*src: local('Source Sans Pro Black'), local('SourceSansPro-Black'),*/
/*url('/fonts/source-sans-pro-v11-cyrillic-ext_greek_greek-ext_latin_cyrillic_latin-ext-900.eot?#iefix') format('embedded-opentype'), !* IE6-IE8 *! url('/fonts/source-sans-pro-v11-cyrillic-ext_greek_greek-ext_latin_cyrillic_latin-ext-900.woff2') format('woff2'), !* Super Modern Browsers *! url('/fonts/source-sans-pro-v11-cyrillic-ext_greek_greek-ext_latin_cyrillic_latin-ext-900.woff') format('woff'), !* Modern Browsers *! url('/fonts/source-sans-pro-v11-cyrillic-ext_greek_greek-ext_latin_cyrillic_latin-ext-900.ttf') format('truetype'), !* Safari, Android, iOS *! url('/fonts/source-sans-pro-v11-cyrillic-ext_greek_greek-ext_latin_cyrillic_latin-ext-900.svg#SourceSansPro') format('svg'); !* Legacy iOS *!*/
/*}*/

/*!* source-sans-pro-900italic - cyrillic-ext_greek_greek-ext_latin_cyrillic_latin-ext *!*/
/*@font-face {*/
/*font-family: 'Source Sans Pro';*/
/*font-style: italic;*/
/*font-weight: 900;*/
/*src: url('/fonts/source-sans-pro-v11-cyrillic-ext_greek_greek-ext_latin_cyrillic_latin-ext-900italic.eot'); !* IE9 Compat Modes *!*/
/*src: local('Source Sans Pro Black Italic'), local('SourceSansPro-BlackItalic'),*/
/*url('/fonts/source-sans-pro-v11-cyrillic-ext_greek_greek-ext_latin_cyrillic_latin-ext-900italic.eot?#iefix') format('embedded-opentype'), !* IE6-IE8 *! url('/fonts/source-sans-pro-v11-cyrillic-ext_greek_greek-ext_latin_cyrillic_latin-ext-900italic.woff2') format('woff2'), !* Super Modern Browsers *! url('/fonts/source-sans-pro-v11-cyrillic-ext_greek_greek-ext_latin_cyrillic_latin-ext-900italic.woff') format('woff'), !* Modern Browsers *! url('/fonts/source-sans-pro-v11-cyrillic-ext_greek_greek-ext_latin_cyrillic_latin-ext-900italic.ttf') format('truetype'), !* Safari, Android, iOS *! url('/fonts/source-sans-pro-v11-cyrillic-ext_greek_greek-ext_latin_cyrillic_latin-ext-900italic.svg#SourceSansPro') format('svg'); !* Legacy iOS *!*/
/*}*/

header, section, footer, aside, nav, main, article, figure {
    display: block;
}

span, div, a, input, button, p {
    font-family: 'Source Sans Pro', sans-serif !important;
}

html, body {
    height: 100%;
    margin: 0;
    padding: 0;
}

#Wrapper, #Wrapper-content {
    /*height: 100%;*/
}

#map {
    height: 100%;
}

#Wrapper-content {
    background-color: #f8fafb;
}

.cookieWarning {
    padding-top: 8px;
    padding-bottom: 8px;
    width: 100%;

    background-color: #ffffff;
}

.cookieWarningText {
    width: 80%;
}

.cookieWarningAccept {
    margin-top: 16px;
}

.backgroundContainer, .formBackgroundContainer {
    height: auto;
    background-position: top left;
    background-size: cover
}

.backgroundContainer {
    width: 100%;
}

.header1-text, .header2-text, .header3-text, .header6-text {
    font-size: 32px;
    font-weight: 700;
    line-height: 48px;
    color: #2b2b2b;
}

.header2-text {
    font-size: 22px;
    line-height: 33px;
}

.header3-text {
    font-size: 18px;
    line-height: 27px;
}

.header6-text {
    font-size: 14px;
    line-height: 24px;
    color: #a1a4a5;
}

.basic-text {
    font-size: 16px;
    /*font-weight: 300;*/
    line-height: 24px;
    color: #2b2b2b;
}

.secondary-large-text, .secondary-text {
    font-size: 14px;
    /*font-weight: 300;*/
    line-height: 16px;
    color: #a1a4a5;
}

.secondary-text {
    font-size: 12px;
}

.imageContainer {
    font-size: 0;
    line-height: 0;
}

.link-in-text-flow {
    color: #11c7dd;
    text-decoration: none;
}

.link-in-text-flow:hover {
    text-decoration: underline;
}

.link-in-text-flow:active {
    color: #0d95b5;
    text-decoration: none;
}

.content {
    overflow: auto;
}

.advert-header, .advert-list {
    color: #FFFFFF;
    font-size: 22px;
}

.advert-header {
    margin-bottom: 24px;
}

.advert-list, .purchased-feature-list {
    list-style: none;
    padding: 0;
}

.advert-list li, .purchased-feature-list li {
    background-image: url(/i/star-white.png);
    background-repeat: no-repeat;
    line-height: 24px;
    padding-left: 30px;
    font-size: 16px;
}

.purchased-feature-list li {
    background-image: url(/i/star-blue.png);
    line-height: 16px;
    padding-left: 24px;
    color: #2b2b2b;
    margin-bottom: 16px;
}

.purchased-feature-text {
    color: #a1a4a5;
    font-size: 12px;
    line-height: 1;
}

.content-left, .content-right, .content-center, .content-center-wide, .content-create-logbook {
    padding-top: 50px;
    padding-bottom: 30px;
    position: relative;
    left: 50%;
    transform: translate(-50%, 0%);
    /*width: 460px;*/
}

.content-center {
    width: 60%;
    padding-bottom: 40px;
}

.content-center-wide {
    width: 84%;
    padding-top: 56px;
    padding-bottom: 40px;
}

.content-create-logbook {
    width: 83%;
    padding-top: 16px;
    padding-bottom: 40px;
}

.content-right, .content-left {
    float: left;
    left: 10%;
    transform: translate(0%, 0%);
}

.content-left {
    margin-right: 32px
}

.content-large {
    width: 728px;
}

.content-feed {
    position: relative;
    left: 50%;
    transform: translate(-50%, 0%);
}

.menu-left {
    margin-top: 50px;
    margin-bottom: 30px;
    padding-bottom: 8px;
    position: fixed;
    width: 362px;
    z-index: 100;
    background: #ffffff;
}

.menu-title {
    font-size: 28px;
    text-align: center;
    padding-top: 25px;
    padding-left: 16px;
    padding-right: 16px;
}

/*border: 1px #d5d5d5;*/
.menu-row {
    cursor: pointer;
    margin-top: 16px;
    /*margin-right: 32px;*/
    /*margin-left: 40px;*/
    width: 100%;
}

.menuElemLeft {
    position: relative;
    font-size: 24px;
    left: 40px;
    float: left;
    margin-right: 8px;
}

.menuElemRight {
    position: relative;
    font-size: 24px;
    right: 32px;
    float: right;
}

.menuElemRight a {
    vertical-align: top;
    margin-right: 10px;
}

.content-card {
    float: left;
    margin-right: 2%;
    margin-bottom: 40px;
}

.header,
.welcome-header {
    margin-top: 10px;
    text-align: center;
    font-size: 26px;
    color: #f8f8f8;
}

.welcome-header {
    margin-top: 55px;
    /*color: #16a9d4;*/
}

.text,
.welcome-text {
    margin-bottom: 30px;
    text-align: center;
    color: #f8f8f8;
    font-size: 16px;
}

.welcome-text {
    margin-top: 25px;
    /*color: #16a9d4;*/
}

.faq-header {
    /*margin-bottom: 8px;*/
}

.question {
    margin-top: 32px;
}

.answer {
    margin-top: 16px;
}

.return {
    text-align: center;
    font-size: 16px;
}

.return a {
    color: black;
}

.pass_link {
    font-size: 16px;
    text-align: center;
    margin-top: 35px;
    width: 100%;
}

.error {
    position: absolute;
    left: 16px;

    color: #f4225b;
    font-size: 12px;
}

.dialog {
    background: #ffffff;
    height: auto;
    width: 30%;
    min-width: 304px;
    margin: 0 auto;
    padding-bottom: 16px;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 900;
    border-radius: 5px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    -o-border-radius: 5px;
    box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.16);
}

.overlay {
    position: fixed;
    z-index: 890;
    height: 100%;
    width: 100%;
    background: rgba(4, 34, 46, 0.55);
}

.dialogClose {
    float: right;
    width: 24px;
    height: 24px;
    background-image: url("/i/ic_shut.png");
}

.dialogClose:active {
    background-image: url("/i/ic_shut_active.png");
}

.dialog-title {
    font-size: 22px;
    font-weight: 700;
    color: #2b2b2b;

    padding: 24px 9%;
    background-color: #f7f9fa;
}

.dialog-button {
    text-align: center;
    padding-top: 12px;
    padding-bottom: 12px;
    width: 48%;
}

.dialog-button-margin {
    margin-right: 2%;
}

.dialog-sub-title {
    font-size: 20px;
    text-align: center;
}

.dialog-content {
    padding: 24px 7% 0;
}

.found-friend-list {
    margin-bottom: 24px;
}

.found-friend-list-content {
    overflow: auto;
    height: 360px;
}

.specifications .header {
    margin-bottom: 10px;
}

.specifications {
    padding-top: 15px;
    padding-bottom: 15px;
    background: #a5c9e1;
    margin-bottom: 15px;
}

.diveScore {
    width: 15.5%;
    margin-left: 3%;
}

.tabs {
    margin-bottom: 10px;
}

.firstTab, .secondTab {
    font-size: 26px;
    font-weight: bold;
    color: #99b5c3;
    float: left;
    margin-left: 20px;
    text-decoration: underline;
}

.secondTab {
    float: right;
    margin-left: 0;
    margin-right: 0;
}

.inactive {
    color: #f8f8f8;
}

.panel, .panel-cards {
    margin-bottom: 8px;
    padding: 40px 56px;
    border-radius: 5px;
    background-color: #ffffff;
    box-shadow: 0 2px 4px 0 rgba(20, 57, 62, 0.05);
    /*height: auto;*/
    /*width: 425px;*/
}

.help-center-panel {
    padding-top: 42px;
    padding-bottom: 42px;
}

.panel-header {
    padding-top: 24px;
    padding-bottom: 24px;
}

.panel-cards {
    padding-right: 21px;
    padding-bottom: 0;
}

.panel-wider {
    padding-left: 40px;
    padding-right: 40px;
}

.sub-panel-narrow {
    padding-left: 16px;
    padding-right: 16px;
}

.panel-row {
    margin-top: 25px;
    width: 100%;
}

.country-panel-row {
    width: 100%;
}

.panel-row-bottom-margin {
    margin-bottom: 25px;
}

.panel-href,
.panel-label {
    font-size: 16px;
}

.panel-text {
    font-size: 20px;
    color: #f8f8f8;
}

.panel-label {
    color: #99b5c3;
}

.userpic-selection {
    width: 344px;
    height: 360px;
    background-color: #f7f9fa;
    position: relative;
}

.no-userpic {

}

.no-userpic img {
    position: absolute;
    left: 50%;
    top: 50%;
    margin: -81px 0 0 -81px;
}

.no-userpic-text {
    position: absolute;
    top: 70%;
    left: 50%;
    margin-left: -40px;

    font-size: 12px;
    font-weight: bold;
    color: #e5e7e9;
}

.userpic {
    max-width: 344px;
    height: auto;
    position: relative;
    overflow: hidden;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
}

.centered {
    display: block;
    margin: 0 auto;
    width: 344px;
    height: 360px;
    background: center no-repeat;
    background-size: cover;
}

.card-container img {
    width: 344px;
}

.star {
    width: 30px;
    height: 30px;
    margin-left: 5px;
}

.logbook-button-right {
    float: right;
    margin-bottom: 24px;
}

.logbook-form-checkbox-label {
    font-size: 14px;
    color: #a1a4a5;
    line-height: 2.3;
    margin-right: 16px;
}

.diverList-elem-right, .diverList-elem-left {
    float: left;
}

.diverList-elem-right {
    width: 58%;
    padding-left: 10px;
}

.diverList-elem-right p {
    display: block; /* or inline-block, at least its a block element */
    width: 100%; /* or width is certain by parent element */
    height: auto; /* height cannot be defined */
    white-space: normal; /* Firefox 1.0-2.0 */
    font-size: 1px;
}

.diverList-elem-right p span {
    padding-bottom: 10px;
    font-size: 20px;
}

.friendList-elem-right, .friendList-elem-left, .friendList-elem-checkbox {
    float: left;
}

.friendList-elem-checkbox {
    padding-top: 16px;
}

.friendList-elem-right {
    padding-left: 10px;
}

.friendList-elem {
    box-sizing: border-box;
    padding: 16px;
}

.friendList-elem:hover {
    background: #f7f9fa;
}

.found-diver-list-elem {
    padding: 16px;
}

.friendList-text {
    vertical-align: middle;
}

.friendList-star {
    width: 12px;
    height: 12px;
    vertical-align: middle;
}

.friendList-ico {
    vertical-align: middle;
}

.friendList-userpic, .friendList-no-userpic {
    max-width: 96px;
    max-height: 96px;
    height: 96px;
    width: 96px;
}

.friendList-no-userpic {
    width: 96px;
    height: 96px;
    position: relative;
    overflow: hidden;
    background-color: #f8fafb;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -ms-border-radius: 50%;
    -o-border-radius: 50%;
    border-radius: 50%;
}

.friendList-no-userpic img {
    display: block;
    margin: 0 auto;
    height: 48px;
    width: 48px;
    padding-top: 22px;
}

.friendList-userpic-margin {
    margin-right: 16px;
}

.buddieElem {
    float: left;
    border-radius: 4px;
    background-color: #eff2f4;
    margin-right: 8px;
    margin-bottom: 8px;
}

.buddieElemLeft {
    font-size: 12px;
    color: #5c6264;
    vertical-align: middle;
    padding: 4px 12px 4px 8px;
    float: left;
}

.buddieElemRight {
    width: 24px;
    height: 24px;
    background-image: url("/i/ic_clean_grey.png");
    vertical-align: middle;
    float: right;
    padding-right: 4px;
}

.center {
    text-align: center;
}

.panel-menu-item {
    padding: 8px 16px 12px 16px;
    margin-bottom: 8px;
}

.panel-menu-item, .panel-menu-item a {
    text-decoration: none;
    color: #a1a4a5;
    background-color: #ffffff;
    font-size: 16px;
}

.panel-menu-item:hover, .panel-menu-item:hover a {
    color: #2b2b2b;
    background-color: #f7f9fa;
}

.panel-menu-item-active, .panel-menu-item-active a, .panel-menu-item:active, .panel-menu-item:active a {
    color: #ffffff;
    background-color: #0d95b5;
}

.clearfix:after {
    /*content: ".";*/
    display: block;
    clear: both;
    visibility: hidden;
    line-height: 0;
    height: 0;
}

.clearfix {
    width: 100%;
    display: inline-block;
}

.clearfix-no-width {
    display: inline-block;
}

.clearfix-no-width:after {
    /*content: ".";*/
    display: block;
    clear: both;
    visibility: hidden;
    line-height: 0;
    height: 0;
}

html[xmlns] .clearfix {
    display: block;
}

* html .clearfix {
    height: 1%;
}


