<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE log4j:configuration SYSTEM "log4j.dtd">

<log4j:configuration xmlns:log4j="http://jakarta.apache.org/log4j/">


    <appender name="stdout" class="org.apache.log4j.ConsoleAppender">
        <param name="threshold" value="INFO"/>
        <layout class="org.apache.log4j.PatternLayout">
            <param name="ConversionPattern"
                   value="%d{yyyy.MM.dd HH:mm:ss,S} [%t] %-5p %x %c - %m%n"
            />
        </layout>
    </appender>

    <appender name="file" class="org.apache.log4j.RollingFileAppender">
        <param name="maxFileSize" value="5000KB"/>
        <param name="maxBackupIndex" value="5"/>
        <param name="File" value="${catalina.home}/logs/cmas.log"/>
        <param name="threshold" value="INFO"/>
        <layout class="org.apache.log4j.PatternLayout">
            <param name="ConversionPattern"
                   value="%d{yyyy.MM.dd HH:mm:ss,S} [%t] %-5p %x %c - %m%n Request URL: %X{URL}%n POST Params: %X{Params}%n UserId: %X{UserId}%n User Login: %X{Login}%n"
            />
        </layout>
    </appender>

    <!--<appender name="mail" class="org.apache.log4j.net.SMTPAppender">-->
        <!--<param name="SMTPHost" value="ASPMX.L.GOOGLE.COM"/>-->
        <!--<param name="From" value="admin@ns2.cmas.org"/>-->
        <!--<param name="To" value="admin@ns2.cmas.org"/>-->
        <!--<param name="Subject" value="OCP Error"/>-->
        <!--<param name="BufferSize" value="1"/>-->
        <!--<param name="threshold" value="ERROR"/>-->
        <!--<layout class="org.apache.log4j.PatternLayout">-->
            <!--<param name="ConversionPattern" value="%d{yyyy.MM.dd HH:mm:ss,S} [%t] %-5p %x %c - %m%n"/>-->
        <!--</layout>-->
    <!--</appender>-->


    <!--
    <logger name="org.apache">
        <level value="WARN"/>
    </logger>

    <logger name="net.sf.hibernate">
        <level value="WARN"/>
    </logger>

    <logger name="org.springframework">
        <level value="WARN"/>
    </logger>
    -->


    <logger name="org.cmas" additivity="true">
        <level value="INFO"/>
    </logger>


    <root>

        <level value="INFO"/>

        <appender-ref ref="stdout"/>
        
        <appender-ref ref="file"/>
        <!--<appender-ref ref="mail"/>-->

    </root>

</log4j:configuration>