<div id="photoContainer_<%= fileId %>" class="logbook-photo-container">
    <img id="photo_<%= fileId %>" class="logbook-photo" src="<%= src %>">
    <div id="deletePhoto_<%= fileId %>" class="tank-button-right button-delete"></div>
</div>
