<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-2.0.xsd">


    <bean id="jspModelConributeFilter" class="org.cmas.presentation.controller.filter.JspModelConributeFilter">
    </bean>

    <bean class="org.springframework.web.servlet.mvc.annotation.AnnotationMethodHandlerAdapter">
        <property name="webBindingInitializer">
            <bean class="org.springframework.web.bind.support.ConfigurableWebBindingInitializer">
                <property name="propertyEditorRegistrars">
                    <list>
                        <ref bean="customEditors"/>
                    </list>
                </property>
            </bean>
        </property>
    </bean>

    <bean id="customEditors" class="org.cmas.presentation.controller.EditorConfigurer"/>

    <bean id="registrationController"
          class="org.cmas.presentation.controller.user.RegistrationController"/>
    <bean id="recoveryController"
          class="org.cmas.presentation.controller.user.RecoveryController"/>
    <bean id="userHomeController"
          class="org.cmas.presentation.controller.user.UserHomeController"/>
    <bean id="userProfileController"
          class="org.cmas.presentation.controller.user.UserProfileController"/>

    <bean id="adminController"
          class="org.cmas.presentation.controller.admin.AdminController"/>
    <bean id="adminRegController"
          class="org.cmas.presentation.controller.admin.AdminRegController"/>

    <bean id="loginController"
          class="org.cmas.util.presentation.controller.LoginController"/>
    <bean id="homeController"
          class="org.cmas.presentation.controller.face.HomePageController"/>

    <bean id="systempayValidator"
          class="org.cmas.presentation.controller.user.billing.systempay.SystempayValidator"/>

    <bean id="lostPasswdValidator"
          class="org.cmas.presentation.validator.recovery.LostPasswordValidator"/>
    <bean id="editUserValidator"
          class="org.cmas.presentation.validator.admin.EditUserValidator"/>
    <bean id="adminPasswdValidator"
          class="org.cmas.presentation.validator.admin.PasswdValidator"/>

    <bean id="diverUploadValidator"
          class="org.cmas.presentation.validator.fedadmin.DiverUploadValidator"/>

    <bean id="foCompletenessValidator"
          class="org.cmas.presentation.validator.FormObjectCompletenessValidatorImpl"/>

    <bean id="validator" class="org.cmas.presentation.validator.HibernateSpringValidator"/>

    <bean id="logbookEntryValidator" class="org.cmas.presentation.validator.user.LogbookEntryValidator"/>
    <bean id="diveSpotValidator" class="org.cmas.presentation.validator.user.DiveSpotValidator"/>
    <bean id="diveSpecValidator" class="org.cmas.presentation.validator.user.DiveSpecValidator"/>
    <bean id="scubaTankValidator" class="org.cmas.presentation.validator.user.ScubaTankValidator"/>

</beans>