<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:tx="http://www.springframework.org/schema/tx"
       xsi:schemaLocation="
        http://www.springframework.org/schema/beans
        http://www.springframework.org/schema/beans/spring-beans-2.5.xsd
        http://www.springframework.org/schema/tx
        http://www.springframework.org/schema/tx/spring-tx-2.5.xsd
       ">

    <!-- requires hibernateDataSource in context-->
    <bean id="sessionFactory" class="org.springframework.orm.hibernate3.annotation.AnnotationSessionFactoryBean">
        <property name="dataSource" ref="hibernateDataSource"/>
        <property name="annotatedClasses">
            <list>

                <value>org.cmas.entities.User</value>
                <value>org.cmas.entities.UserBalance</value>

                <value>org.cmas.entities.UserFile</value>
                <value>org.cmas.entities.FeedbackItem</value>

                <value>org.cmas.entities.sport.Athlete</value>
                <value>org.cmas.entities.sport.NationalFederation</value>
                <value>org.cmas.entities.cards.PersonalCard</value>
                <value>org.cmas.entities.cards.PersonalCardType</value>
                <value>org.cmas.entities.cards.CardData</value>
                <value>org.cmas.entities.cards.CardApprovalRequest</value>
                <value>org.cmas.entities.cards.CardApprovalRequestStatus</value>

                <value>org.cmas.entities.amateur.Amateur</value>
                <value>org.cmas.entities.amateur.MassEvent</value>
                <value>org.cmas.entities.amateur.MassEventRequest</value>

                <value>org.cmas.entities.diver.Diver</value>
                <value>org.cmas.entities.diver.NotificationsCounter</value>
                <value>org.cmas.entities.divespot.DiveSpot</value>

                <value>org.cmas.entities.logbook.LogbookEntry</value>
                <value>org.cmas.entities.logbook.DiverFriendRequest</value>
                <value>org.cmas.entities.logbook.Request</value>
                <value>org.cmas.entities.logbook.LogbookBuddieRequest</value>

                <value>org.cmas.entities.logbook.DiveSpec</value>
                <value>org.cmas.entities.logbook.DecoStop</value>
                <value>org.cmas.entities.logbook.ScubaTank</value>

                <value>org.cmas.entities.Country</value>
                <value>org.cmas.entities.Toponym</value>
                <value>org.cmas.entities.DictionaryEntity</value>
                <value>org.cmas.entities.Address</value>

                <value>org.cmas.entities.loyalty.PaidFeature</value>
                <value>org.cmas.entities.loyalty.LoyaltyProgramItem</value>
                <value>org.cmas.entities.loyalty.InsuranceRequest</value>
                <value>org.cmas.entities.loyalty.CameraOrder</value>

                <value>org.cmas.entities.billing.Invoice</value>
                <value>org.cmas.presentation.entities.billing.FinLog</value>
                <value>org.cmas.presentation.entities.billing.OperationType</value>
                <value>org.cmas.entities.billing.InvoiceType</value>
                <value>org.cmas.entities.billing.InvoiceStatus</value>
                <value>org.cmas.presentation.entities.billing.FinSettings</value>
                <value>org.cmas.presentation.entities.billing.DiverPaymentList</value>

                <value>org.cmas.presentation.entities.user.Registration</value>
                <value>org.cmas.presentation.entities.user.cards.RegFile</value>
                <value>org.cmas.presentation.entities.user.UserEvent</value>
                <value>org.cmas.presentation.entities.user.Device</value>
            </list>
        </property>
        <property name="hibernateProperties">
            <props>
                <prop key="hibernate.dialect">org.hibernate.dialect.MySQL5InnoDBDialect</prop>

                <prop key="hibernate.cache.provider_class">org.hibernate.cache.EhCacheProvider</prop>
                <prop key="hibernate.cache.provider_configuration_file_resource_path">/ehcache.xml</prop>
                <prop key="hibernate.cache.use_query_cache">true</prop>
                <prop key="hibernate.cache.use_second_level_cache">true</prop>
                <prop key="hibernate.connection.characterEncoding">utf8</prop>
            </props>
        </property>
    </bean>


    <tx:annotation-driven transaction-manager="transactionManager"/>

    <bean id="transactionManager" class="org.springframework.orm.hibernate3.HibernateTransactionManager">
        <property name="sessionFactory" ref="sessionFactory"/>
    </bean>

    <bean class="org.springframework.dao.annotation.PersistenceExceptionTranslationPostProcessor"/>

    <bean name="openSessionInViewInterceptor"
          class="org.springframework.orm.hibernate3.support.OpenSessionInViewInterceptor">
        <property name="sessionFactory" ref="sessionFactory"/>

    </bean>

    <bean id="athleteDao" class="org.cmas.presentation.dao.user.sport.AthleteDaoImpl">
        <property name="sessionFactory" ref="sessionFactory"/>
    </bean>

    <bean id="diverDao" class="org.cmas.presentation.dao.user.sport.DiverDaoImpl">
        <property name="sessionFactory" ref="sessionFactory"/>
    </bean>

    <bean id="notificationsCounterDao" class="org.cmas.presentation.dao.user.sport.NotificationsCounterDaoImpl">
        <property name="sessionFactory" ref="sessionFactory"/>
    </bean>

    <bean id="diverFriendRequestDao" class="org.cmas.presentation.dao.logbook.DiverFriendRequestDaoImpl">
        <property name="sessionFactory" ref="sessionFactory"/>
    </bean>

    <bean id="logbookBuddieRequestDao" class="org.cmas.presentation.dao.logbook.LogbookBuddieRequestDaoImpl">
        <property name="sessionFactory" ref="sessionFactory"/>
    </bean>

    <bean id="diveSpecDao" class="org.cmas.presentation.dao.logbook.DiveSpecDaoImpl">
        <property name="sessionFactory" ref="sessionFactory"/>
    </bean>

    <bean id="scubaTankDao" class="org.cmas.presentation.dao.logbook.ScubaTankDaoImpl">
        <property name="sessionFactory" ref="sessionFactory"/>
    </bean>

    <bean id="logbookEntryDao" class="org.cmas.presentation.dao.logbook.LogbookEntryDaoImpl">
        <property name="sessionFactory" ref="sessionFactory"/>
    </bean>

    <bean id="personalCardDao" class="org.cmas.presentation.dao.cards.PersonalCardDaoImpl">
        <property name="sessionFactory" ref="sessionFactory"/>
    </bean>

    <bean id="cardApprovalRequestDao" class="org.cmas.presentation.dao.cards.CardApprovalRequestDaoImpl">
        <property name="sessionFactory" ref="sessionFactory"/>
    </bean>

    <bean id="sportsFederationDao" class="org.cmas.presentation.dao.user.sport.NationalFederationDaoImpl">
        <property name="sessionFactory" ref="sessionFactory"/>
    </bean>

    <bean id="diveSpotDao" class="org.cmas.presentation.dao.divespot.DiveSpotDaoImpl">
        <property name="sessionFactory" ref="sessionFactory"/>
    </bean>

    <bean id="amateurDao" class="org.cmas.presentation.dao.user.AmateurDaoImpl">
        <property name="sessionFactory" ref="sessionFactory"/>
    </bean>

    <bean id="countryDao" class="org.cmas.presentation.dao.CountryDaoImpl">
        <property name="sessionFactory" ref="sessionFactory"/>
    </bean>

    <bean id="addressDao" class="org.cmas.presentation.dao.AddressDaoImpl">
        <property name="sessionFactory" ref="sessionFactory"/>
    </bean>

    <bean id="toponymDao" class="org.cmas.presentation.dao.ToponymDaoImpl">
        <property name="sessionFactory" ref="sessionFactory"/>
    </bean>

    <bean id="deviceDao" class="org.cmas.presentation.dao.user.DeviceDaoImpl">
        <property name="sessionFactory" ref="sessionFactory"/>
    </bean>

    <bean id="regFileDao" class="org.cmas.presentation.dao.user.RegFileDaoImpl">
        <property name="sessionFactory" ref="sessionFactory"/>
    </bean>

    <bean id="invoiceDao" class="org.cmas.presentation.dao.billing.InvoiceDaoImpl">
        <property name="sessionFactory" ref="sessionFactory"/>
    </bean>

    <bean id="paidFeatureDao" class="org.cmas.presentation.dao.billing.PaidFeatureDaoImpl">
        <property name="sessionFactory" ref="sessionFactory"/>
    </bean>

    <bean id="loyaltyProgramItemDao" class="org.cmas.presentation.dao.billing.LoyaltyProgramItemDaoImpl">
        <property name="sessionFactory" ref="sessionFactory"/>
    </bean>

    <bean id="transactionSettingsDao"
          class="org.cmas.presentation.controller.user.billing.systempay.MySqlTransactionSequenceDaoImpl">
        <property name="jdbc" ref="jdbcTemplate"/>
    </bean>

    <bean id="finLogDao" class="org.cmas.presentation.dao.billing.FinLogDaoImpl">
        <property name="sessionFactory" ref="sessionFactory"/>
    </bean>

    <bean id="diverPaymentListDao" class="org.cmas.presentation.dao.billing.DiverPaymentListDaoImpl">
        <property name="sessionFactory" ref="sessionFactory"/>
    </bean>

    <bean id="finSettingsDao" class="org.cmas.presentation.dao.billing.FinSettingsDaoImpl">
        <property name="sessionFactory" ref="sessionFactory"/>
    </bean>

    <bean id="registrationDao" class="org.cmas.presentation.dao.user.RegistrationDaoImpl">
        <constructor-arg index="0" value="org.cmas.presentation.entities.user.Registration"/>
        <property name="sessionFactory" ref="sessionFactory"/>
    </bean>

    <bean id="userBalanceDao" class="org.cmas.presentation.dao.user.UserBalanceDaoImpl">
        <property name="sessionFactory" ref="sessionFactory"/>
    </bean>

    <bean id="userEventDao" class="org.cmas.presentation.dao.user.UserEventDaoImpl">
        <property name="sessionFactory" ref="sessionFactory"/>
    </bean>

    <bean id="cameraOrderDao" class="org.cmas.presentation.dao.loyalty.CameraOrderDaoImpl">
        <property name="sessionFactory" ref="sessionFactory"/>
    </bean>

    <bean id="insuranceRequestDao" class="org.cmas.presentation.dao.loyalty.InsuranceRequestDaoImpl">
        <property name="sessionFactory" ref="sessionFactory"/>
    </bean>

    <bean id="userFileDao" class="org.cmas.presentation.dao.UserFileDaoImpl">
        <property name="sessionFactory" ref="sessionFactory"/>
    </bean>

    <bean id="feedbackItemDao" class="org.cmas.presentation.dao.FeedbackItemDaoImpl">
        <property name="sessionFactory" ref="sessionFactory"/>
    </bean>
</beans>
