.content {
    padding: 150px 0 !important;
}
.content-body {
    width: 980px;
    margin: 0 auto;
}
.content-body table {
    margin: 0 auto;
}
input {
    height: 2em;
}

.icn-info {
    background-position: -168px 0px !important;
}
.icn-pass {
    background-position: -287px -24px !important;
}
.icn-edit {
    background-position: 0 -72px !important;
}
.icn-delete {
    background-position: -310px 0px !important;
}

.icn-delete {
    background-position: -310px 0px !important;
}
.formLabel {
    font-size: 36px;
    font-family: Helv_otf,Helv_pfb,Helv_pfm,Helv_2_pfb;
}
.formTable td div {
    display: none ;
}
