.reg-block {
    width: 930px;
    padding: 270px 0;
    margin: 0 auto;
}
.reg-block span {
    margin: 20px auto;
    width: 300px;
    font-size: 24px;
    text-align: left;
    display: inline-block;
    font-family: Helv_otf, Helv_pfb, Helv_pfm, Helv_2_pfb;
}
.reg-block input {
    width: 400px;
    height: 40px;  
    margin: 20px 0;
    display: inline-block;
}
.reg_rules {
    font-family: Helv_otf,Helv_pfb,Helv_pfm, Helv_2_pfb;
    font-size: 30px;
    height: 160px;
    margin: 0 auto 0px;
    text-align: center;
    width: 600px;
}
.reg_agree {
    background-color: #3A3A3A;
    color: #FFFFFF;
    font-family: Helv_otf,Helv_pfb,Helv_pfm, Helv_2_pfb;
    left: 303px;
    position: relative;
    text-align: center;
    width: 196px !important;
    cursor: pointer;
}
.reg-block .error {
    color: #fc0404;
    padding: 0 20px;
    font-size: 14px;
    font-family: Myriad, Myriad_otf;
    position: absolute;
    width: 200px;
}
.phone-example {
    color: #A7A7A7;
    font-style: italic;
    margin: -48px 120px;
    position: absolute;
}
.login, .warranty {
    display: none !important;
}
