@font-face {
    font-family: MyriadPro-SemiCn;
    src: url(/fonts/MyriadPro-SemiCn.otf);
}

body {
    background: #0d3b50 url("/i/background.png") no-repeat center top;
    background-size: cover;
}

span, div, a, input, button {
    font-family: MyriadPro-SemiCn, serif !important;
}

a {
    color: #16a9d4;
}

input, span {
    border: none !important;
}

input {
    color: black !important;
    font-size: 16px;
}

.content {
    position: absolute;
    top: 20%;
    left: 50%;
    transform: translate(-50%, -20%);
    width: 362px;
}

.header,
.welcome-header {
    margin-top: 10px;
    text-align: center;
    font-size: 26px;
    color: #FFFFFF;
}

.welcome-header {
    margin-top: 55px;
    /*color: #16a9d4;*/
}

.text,
.welcome-text {
    margin-bottom: 30px;
    text-align: center;
    color: #FFFFFF;
    font-size: 16px;
}

.welcome-text {
    margin-top: 25px;
    /*color: #16a9d4;*/
}

.pass_link {
    font-size: 16px;
    text-align: center;
    margin-top: 35px;
    width: 100%;
}

.error {
    padding-left: 15px;
    color: red;
    margin-bottom: 15px;
}