@font-face {
    font-family: MyriadPro-SemiCn;
    src: url(/fonts/MyriadPro-SemiCn.otf);
}

header, section, footer, aside, nav, main, article, figure {
    display: block;
}

body {
    background: #0d3b50 url("/i/bg.png") no-repeat center top;
    background-size: cover;
}

#secureBody {
    background: #0d3b50 url("/i/bg0.png") no-repeat center top;
    background-size: cover;
}

span, div, a, input, button, p {
    font-family: MyriadPro-SemiCn, serif !important;
}

a {
    color: #16a9d4;
}

input, span {
    border: none !important;
}

input, p {
    color: black !important;
    font-size: 16px;
}

.content {
    margin-top: 50px;
    margin-bottom: 30px;
    position: relative;
    left: 50%;
    transform: translate(-50%, 0%);
    width: 362px;
}

.content-card {
    padding-bottom: 20px;
    width: 100%;;
}

.header,
.welcome-header {
    margin-top: 10px;
    text-align: center;
    font-size: 26px;
    color: #f8f8f8;
}

.welcome-header {
    margin-top: 55px;
    /*color: #16a9d4;*/
}

.text,
.welcome-text {
    margin-bottom: 30px;
    text-align: center;
    color: #f8f8f8;
    font-size: 16px;
}

.welcome-text {
    margin-top: 25px;
    /*color: #16a9d4;*/
}

.pass_link {
    font-size: 16px;
    text-align: center;
    margin-top: 35px;
    width: 100%;
}

.error {
    padding-left: 15px;
    color: #ff5050;
    margin-bottom: 15px;
}

.dialog {
    border-radius: 6px;
    background: #f8f8f8;
    height: auto;
    margin: 0 auto;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 335px;
    z-index: 900;
    -webkit-border-radius: 6px;
    -moz-border-radius: 6px;
    -o-border-radius: 6px;
}

.dialogClose {
    position: absolute;
    right: 10px;
    top: 10px;
}

.dialog-title {
    font-size: 22px;
    text-align: center;
    padding-top: 25px;
    padding-left: 16px;
    padding-right: 16px;
}

.dialog-content {
    text-align: center;
    padding-bottom: 25px;
    padding-left: 16px;
    padding-right: 16px;
}

.panel {
    margin-top: 10px;
    padding: 20px;
    border-radius: 6px;
    background: rgba(0, 102, 145, 0.55);
    height: auto;
    width: 335px;
}

.panel-row {
    margin-top: 25px;
}

.panel span,
.panel a,
.panel label {
    font-size: 20px;
}

.panel span {
    color: #f8f8f8;
}

.panel label {
    color: #99b5c3;
}

.userpicPreview {
    max-height: 110px;
    max-width: 110px;
}

.userpic-selection {
    position: relative;
}

.userpic-selection-left {

}

.userpic-selection-right {
    position: absolute;
    top: 50%;
    transform: translate(0%, -50%);
    width: 100%;
}

.userpic-selection-right img {
    position: relative;
    padding-left: 120px;
    top: 5px;
}

.userpic-selection-right a {
    position: relative;
    padding-left: 10px;
    white-space: nowrap
}


